/* General Header Styles */
.header-container {
    display: flex;
    align-items: center;
    background-color: #131921;
    padding: 10px 20px;
    color: white;
    position: relative;
  }
  
  /* For the Logo */
  .header-container .logo img {
    width: 100px;
    object-fit: contain;
  }
  
  /* Responsive Header for Mobile */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header-container .logo img {
      margin-bottom: 10px;
    }
  
    .header-container .nav,
    .header-container .search-container,
    .header-container .cart {
      width: 100%;
    }
  
    .header-container .nav {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  
    .header-container .search-container {
      order: 2;
    }
  
    .header-container .nav-option {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .header-container .cart {
      order: 3;
      margin-top: 10px;
    }
  }
  